<nav class="header-container">
      <div class="logo">
        <img src="assets/images/logo.png" alt="logo" class="logo" (click)="onLogo()">
      </div>
      <div class="header-search">
        <div class="glyphicon glyphicon-search search-icon"></div>
        <input type="text" placeholder="Meklēt" class="search" [(ngModel)]="search" (keyup)="searching()">
      </div>

      <div class="header-profile">
          <div class="nav navbar-nav">
            <div class="user-image-location">
              <img src="assets/images/user-blank.jpg" alt="image" class="user-image">
            </div>
            <li class="dropdown" appDropdown>
              <a style="cursor: pointer;" class="dropdown-toggle header-toggle" role="button">Ilmārs Birzleja <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a style="cursor: pointer;" routerLink="/auth">Iziet</a></li>
                  <li><a style="cursor: pointer;" (click)="onBack()">Sākums</a></li>
              </ul>
            </li>
          </div>
      </div>
  </nav>
  