
    <div style="display: flex;">
        <div *ngIf="swapped == true"
        class="side-panel-left" (mouseenter)="onEnter()" (mouseleave)="onLeave()"
        [ngClass]="{'side-panel-left': hide == false, 'side-panel-left2': hide == true}">
            <div style="display: flex;">
                <div class="square-button" id="arrow-button" 
                [class.hidden]="hide">
                    <div class="glyphicon glyphicon-resize-horizontal button-symbol" (click)="onSwap()"></div>
                </div>
                <div class="square-button" style="margin-left: 30px" id="pin-button"
                [class.hidden]="hide">
                    <div class="glyphicon glyphicon-pushpin button-symbol pin" (click)="onPin()" id="pin"
                    [ngClass]="{'pin': pinned == false}"></div>
                </div>
            </div>
            <div id="document-preview" [class.hidden]="hide">
                <div class="document-preview" *ngFor="let file of files">
                    <img src="assets/images/emptypage.jpg" alt="page" class="page-image">
                </div>
            </div>
        </div>
        <div class="page-holder">
            <img src="assets/images/emptypage.jpg" alt="page" class="page-image">
            <div class="glyphicon glyphicon-triangle-right arrow-right"></div>
        </div>
        <div *ngIf="swapped == false"
        class="side-panel" id="side-panel" (mouseenter)="onEnter()" (mouseleave)="onLeave()"
        [ngClass]="{'side-panel': hide == false, 'side-panel2': hide == true}">
            <div style="display: flex;">
                <div class="square-button" id="arrow-button" 
                [class.hidden]="hide">
                    <div class="glyphicon glyphicon-resize-horizontal button-symbol" (click)="onSwap()"></div>
                </div>
                <div class="square-button" style="margin-left: 30px" id="pin-button"
                [class.hidden]="hide">
                    <div class="glyphicon glyphicon-pushpin button-symbol pin" (click)="onPin()" id="pin"
                    [ngClass]="{'pin': pinned == false}"></div>
                </div>
            </div>
            <div id="document-preview" [class.hidden]="hide">
                <div class="document-preview" *ngFor="let file of files">
                    <img src="assets/images/emptypage.jpg" alt="page" class="page-image">
                </div>
            </div>
        </div>
    </div>
