
    <div style="display: flex;">
        <div class="page-holder">
            <img src="assets/images/emptypage.jpg" alt="page" class="page-image">
            <div class="glyphicon glyphicon-triangle-right arrow-right"></div>
        </div>
        <div class="side-panel" id="side-panel" (mouseenter)="onEnter()" (mouseleave)="onLeave()">
            <div style="display: flex;">
                <div class="square-button" id="arrow-button">
                    <div class="glyphicon glyphicon-resize-horizontal button-symbol" (click)="onSwap()"></div>
                </div>
                <div class="square-button" style="margin-left: 30px" id="pin-button">
                    <div class="glyphicon glyphicon-pushpin button-symbol pin" (click)="onPin()" id="pin"></div>
                </div>
            </div>
            <div id="document-preview">
                <div class="document-preview" *ngFor="let file of files">
                    <img src="assets/images/emptypage.jpg" alt="page" class="page-image">
                </div>
            </div>
        </div>
    </div>
