.page-holder, .page-holder2, .page-holder-left, .page-holder-left2 {
    display: flex;
    background-color: rgb(88, 88, 88);
    height: 100%;
    width: 550px;
    position: fixed; 
    transition: 0.5s;
}

.page-holder{
    left: 565px;
}

.page-holder2 {
    left: 669px;
}

.page-holder-left {
    left: 124px;
}

.page-holder-left2 {
    left: 20px;
}


.page-image {
    max-width: 78.7%;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.arrow-right {
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
    color: lightgrey;
    margin-top: 50%;
}

.side-panel, .side-panel2 {
    background-color: rgb(88, 88, 88);
    margin-left: 3px;
    transition: 0.5s;
    width: 120px;
}

/* position: fixed */

.side-panel {
    position: fixed;
    left: 1116px;
}


.side-panel2 {
    position: fixed;
    left: 1220px;
}

.side-panel-left, .side-panel-left2 {
    background-color: rgb(88, 88, 88);
    margin-right: 3px;
    width: 120px;
    transition: 0.5s;
    position: fixed;
}

.side-panel-left {
    left: 0px;
}

.side-panel-left2 {
    left: -104px;
}

.square-button {
    margin: 10px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.button-symbol {
    margin-top: 7.5px;
    margin-left: 7.5px;
}

.document-preview {
    margin-top: 3px;
    width: 127px;
    height: 100vh;
}

.pin {
    transform: rotate(-45deg);
}