.page-holder, .page-holder2, .page-holder-left, .page-holder-left2 {
    display: flex;
    background-color: rgb(88, 88, 88);
    height: 100vh;
    width: calc(20vw + 20vh);
    position: fixed; 
}

.page-holder{
    right: 125px;
}

.page-holder2 {
    right: 21px;
}

.page-holder-left {
    left: 124px;
}

.page-holder-left2 {
    left: 20px;
}


.page-image {
    max-width: 78.7%;
    height: calc(60px + 60vh);
    margin-left: 10px;
    margin-top: 10px;
 
}

.page-preview {
    height: 142px;
    margin-left: 9.5px;
}
.arrow-right {
    position: absolute;
    cursor: pointer;
    font-size: 18px;
    color: lightgrey;
    top: 35%;
    right: calc(4vw + 5px);
}

.side-panel, .side-panel2 {
    background-color: rgb(88, 88, 88);
    margin-left: 3px;
    transition: 0.5s;
    width: 120px;
}

/* position: fixed */

.side-panel {
    position: fixed;
    right: 0;
}


.side-panel2 {
    position: fixed;
    right: -104px;
}

.side-panel-left, .side-panel-left2 {
    background-color: rgb(88, 88, 88);
    margin-right: 3px;
    width: 120px;
    transition: 0.5s;
    position: fixed;
}

.side-panel-left {
    left: 0px;
}

.side-panel-left2 {
    left: -104px;
}

.square-button {
    margin: 10px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.button-symbol {
    margin-top: 7.5px;
    margin-left: 7.5px;
}

.document-preview {
    margin-top: 3px;
    width: 127px;
    height: 155px;
}

.pin {
    transform: rotate(-45deg);
}

.transition {
    transition: 0.5s;
}

.document-preview-background, .document-preview-background2{
    background-color: rgb(88, 88, 88);
    width: 120px;
    height: 100vh;
    position: fixed;
    top: 50px;
    z-index: -1;
    transition: 0.5s;
}

.document-preview-background {
    right: 0px;
}

.document-preview-background2 {
    right: -104px;
}

.document-preview-background-left, .document-preview-background-left2 {
    background-color: rgb(88, 88, 88);
    width: 120px;
    height: 100vh;
    position: fixed;
    top: 50px;
    z-index: -1;
}

.document-preview-background-left {
    left: 0px;
}

.document-preview-background-left2 {
    left: -104px;
}