.page-holder {
    float: right;
    background-color: rgb(88, 88, 88);
    height: 100%;
    width: 844px;
}

.page-image {
    max-width: 70%;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}