.document-container {
    padding: 10px;
}


.view-page {
    position: absolute;
    right: 0;
}


.document-data, .document-data2 {
    position: absolute;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    overflow-x: hidden;
}

/* this is for when the view page and view data are swapped. */

.document-data2 {
    right: 0;
}

.view-page-size {
    zoom: 134.3%;
}