
<div class="data-container" style="margin-bottom: 20px;">
    <button class="btn btn-success" 
    (click)="onChangeStatus()"
    [disabled]="this.documents[this.id].personalCode == '' 
    || this.documents[this.id].name == ''
    || this.documents[this.id].caseNumber== ''
    || this.documents[this.id].location == ''
    || this.documents[this.id].contractNumber == ''
    || this.documents[this.id].debtAmount == null
    || this.documents[this.id].court == ''
    || this.documents[this.id].decision == ''
    || this.statusMessage == 'Nosūtīts uz CCB'
    || this.buttonEnabled == false">Sūtīt uz CCB</button>
</div>

<div class="data-container">
    <div class="data-number-field data-border">
        <div class="data-date">{{ documents[id].createdDate | date:'d MMM'  }}</div>
        <div style="margin-left: 15px;">
            <div>LĒMUMS</div>
            <div>{{ documents[id].number }}</div>
        </div>
        <div class="data-status">{{ statusMessage }}</div>
    </div>
</div>
<div class="data-container">
    <div class="data-border">
        <div class="data-sent-by">
            iesūtīja {{ documents[id].uploadedBy }}
        </div>
    </div>
</div>

<div class="data-container" style="margin-top: 20px">
        <div class="data-border">
            <div *ngFor="let decisionRadio of decisionActions, let i = index" class="radio top-border">
                <label>
                    <input type="radio" name="decisionAction" 
                    (click)="onDecision(decisionRadio)" 
                    [checked]="decisionRadio == decisionAction"
                    [disabled]="this.documents[this.id].status == 'SENT_TO_CCB'">
                    {{ decisionRadio }}
                </label>
            </div>
        </div>

        <div class="data-break"></div>

        <div class="data-border">
            <div class="data-margin-bottom">
                <div class="data-title">Parādnieks</div>
                <label class="data-label">
                    Personas kods
                </label>
                <input type="text" class="data-input" 
                [(ngModel)]="this.documents[this.id].personalCode" 
                name="personalCode" style="width: 130px;" 
                [disabled]="this.documents[this.id].status == 'SENT_TO_CCB'">
                <br>
                <label class="data-label">
                    Vārds, Uzvārds
                </label>
                <input type="text" class="data-input" 
                [(ngModel)]="this.documents[this.id].name" 
                name="name" style="width: 250px;"
                [disabled]="this.documents[this.id].status == 'SENT_TO_CCB'">
            </div>

            <div class="top-border data-margin-bottom">
                <div class="data-title">Lēmums</div>
                <label class="data-label">
                    Lietas Nr.
                </label>
                <input type="text" class="data-input" 
                [(ngModel)]="this.documents[this.id].caseNumber" 
                name="caseNumber" style="width: 140px;"
                [disabled]="this.documents[this.id].status == 'SENT_TO_CCB'">
                <br>
                <label class="data-label">
                    Vieta
                </label>
                <input type="text" class="data-input" 
                [(ngModel)]="this.documents[this.id].location" 
                name="location" style="width: 170px;"
                [disabled]="this.documents[this.id].status == 'SENT_TO_CCB'">
                <br>
                <label class="data-label">
                    Datums
                </label>
                <input type="date" class="data-input" 
                [(ngModel)]="this.documents[this.id].date" 
                name="date" style="width: 130px;"
                [disabled]="this.documents[this.id].status == 'SENT_TO_CCB'">
            </div>

            <div class="top-border data-margin-bottom">
                <div class="data-title">Konstalēja</div>
                <label class="data-label">
                    Līguma Nr.
                </label>
                <input type="text" class="data-input" 
                [(ngModel)]="this.documents[this.id].contractNumber" 
                name="contractNumber" style="width: 140px;"
                [disabled]="this.documents[this.id].status == 'SENT_TO_CCB'">
                <br>
                <label class="data-label">
                    Līguma datums
                </label>
                <input type="date" class="data-input" 
                [(ngModel)]="this.documents[this.id].contractDate" 
                name="contractDate" style="width: 130px;"
                [disabled]="this.documents[this.id].status == 'SENT_TO_CCB'">
                <br>
                <label class="data-label">
                    Parāda summa
                </label>
                <input type="number" 
                class="data-input" [(ngModel)]="this.documents[this.id].debtAmount" 
                name="debtAmount" style="width: 140px;"
                [disabled]="this.documents[this.id].status == 'SENT_TO_CCB'">
                <br>
                <label class="data-label">
                    Rēķina valūta
                </label>
                <select [(ngModel)]="this.documents[this.id].debtCurrency" 
                name="debtCurrency" id="debtCurrency" class="data-select"
                [disabled]="this.documents[this.id].status == 'SENT_TO_CCB'">
                    <option value="EUR">EUR</option>
                    <option value="USD">USD</option>
                </select>
            </div>

            <div class="top-border data-margin-bottom">
                <div class="data-title">Nolēma</div>
                <label class="data-label">
                    Tiesa
                </label>
                <input type="text" class="data-input" 
                [(ngModel)]="this.documents[this.id].court" 
                name="court" style="width: 200px;"
                [disabled]="this.documents[this.id].status == 'SENT_TO_CCB'">
                <br>
                <label class="data-label">
                    Lēmums
                </label>
                <textarea [(ngModel)]="this.documents[this.id].decision" 
                name="decision" id="" rows="3" class="data-text-area data-input"
                [disabled]="this.documents[this.id].status == 'SENT_TO_CCB'"></textarea>
            </div>
            <br>
            <div class="top-border data-margin-bottom">
                <div class="data-title">Paredzētā CCB piezīme</div>
                <div class="data-text">Saņemts ............</div>
            </div>
        </div>
</div>