
<div class="document-container" #border [class.border-bottom]="currentDocumentsLength > index + 1">
    <div class="document-checkbox-position document-container-child">
        <label for="checkbox"></label>
        <input type="checkbox" id="checkbox" name="checkbox">
    </div>
    <div class="document-information ">
        <div class="document-date-location document-container-child">
            <span class="document-date">{{ document.createdDate | date:'d'  }} <div class="space"></div> {{ document.createdDate | date: 'MMM'}}</span>
        </div>
        <div class="status document-container-child">
            <img class="status-image" src="assets/images/Document_status_digitized.PNG" alt="status" *ngIf="document.status == 'DIGITIZED'">
            <img class="status-image" src="assets/images/Document_status_sent_to_ccb.PNG" alt="status" *ngIf="document.status == 'SENT_TO_CCB'">
        </div>
        <div class="document-part1 document-container-child">
            <span class="document-number" (click)="onDocument()">{{ document.number }}</span>
            <div class="space2"></div>
            <span class="document-decision-action">{{ decisionAction | uppercase }}</span>
        </div>
        <div class="document-part2 document-container-child">
            <span class="document-upload-type">{{ document.uploadType }}</span>
            <span class="document-decision">TBK Lēmums</span>
            <span class="seperate2">{{ document.uploadedBy }}</span>
        <div class="space3"></div>
            <span class="seperate">{{ document.caseNumber }}</span>
            <span class="seperate seperate2">{{ document.contractNumber }}</span>
            <span class="seperate seperate2">{{ document.name }}</span>
            <span class="seperate2">{{ document.debtAmount }}</span>
        </div>
    </div>
</div>

