
.document-container {
    margin-left: 25px;
    margin-top: 16px;
    width: 900px;
    height: 68px;
    position: relative;
    display: flex;
}

.document-container-child {
    float: left;
}

.document-checkbox {
    font-size: 25px;
}

.document-date {
    font-weight: bold;
    font-size: 20px;
}

.document-date-location {
    margin-left: -5px;
}

.status {
    margin-left: 5px;
    margin-top: 3px;
}

.status-image {
    height: 47px;
}

.document-part1 {
    margin-left: 5px;
    margin-top: -4px;
}

.document-part2 {
    margin-left: 10px;
    color:grey;
    margin-top: 3px;
    font-size: 13px;
}


.document-number {
    font-weight: bolder;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

.document-decision-action {
    color: rgb(150, 150, 150);
    font-weight: 600;
    font-size: 12px;
    border: solid 2.4px rgb(221, 221, 221);
    border-radius: 3px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.document-upload-type {
    border: solid 1.5px lightgray;
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 12px;

}


.document-checkbox-position {
    zoom: 1.35;
    position: absolute;
    top: 9px;
    left: 9px;
}

.document-information {
    margin-left: 45px;
}

.border-bottom {
    border-bottom: solid 1px lightgray;
}

/* line breaks */
.space {
    margin-top: -6px;
}

.space2 {
    margin-top: 4px;
}

.space3 {
    margin-top: 8.5px;
}

/* borders and margins for document-part2 */

.document-decision {
    margin-left: 5px;
    border-right: solid 1px gray;
    padding-right: 5px;
}


.seperate {
    border-right: solid 1px grey;
    padding-right: 8px;
}

.seperate2 {
    margin-left: 8px;
}