<app-header [currentPage]="currentPage"
(logoClick)="logoClicked()"
(searchInput)="searching($event)"
class="header"></app-header>

<app-pagination (changePage)="onChangePage($event)"
[items]="documentCount" class="dashboard-pagination"
[page]="currentPage"></app-pagination>

<div class="float-container">
    <span class="float-child dashboard-title">Ienākošie rēķini</span>
    <span class="float-child glyphicon glyphicon-repeat arrow" (click)="onRefresh()"></span>
</div>



<br>
<br>


<app-dashboard-document 
*ngFor="let documentEl of currentDocuments, let i = index" 
[document]="documentEl"
[index]="i"
[currentPage]="currentPage * 10"
[currentDocumentsLength]="currentDocuments.length"></app-dashboard-document>

<br>
<br>

<div class="col-xs-12">
    <button class="btn btn-primary" (click)="onAddDocuments()">Add 10 Documents</button>
</div>
