.dashboard-title {
    font-size: 23px;
    color: grey;
}

.float-container {
    border: 3px solid #fff;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.float-child {
    width: 180px;
    float: left;
    padding: 10px;
    height: 50px;
}

.arrow {
    font-size: 18px;
    margin-top: 7px;
}

.dashboard-pagination {
    position: absolute;
    margin-left: 850px;
}