<app-header [currentPage]="currentPage"
(logoClick)="logoClicked()"
(searchInput)="searching($event)"></app-header>

<app-pagination (changePage)="onChangePage($event)"
[items]="documentCount" class="dashboard-pagination"
[page]="currentPage"></app-pagination>

<div class="float-container">
    <span class="float-child dashboard-title">Ienākošie rēķini</span>
    <span class="float-child glyphicon glyphicon-repeat arrow" (click)="onRefresh()"></span>
</div>



<br>


<app-dashboard-document 
*ngFor="let documentEl of currentDocuments, let i = index" 
[document]="documentEl"
[index]="i"
[currentPage]="currentPage * 10"></app-dashboard-document>

<br>
<br>

<div class="col-xs-12">
    <button class="btn btn-primary" (click)="onAddDocuments()">Add 10 Documents</button>
</div>
<br>
<br>
<br>
<div class="col-xs-12">
    <button class="btn btn-primary" (click)="onAddDocument()">Add Document</button>
</div>

<div class="container" *ngIf="addDocument == true">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="form-group">
                    <label for="number">Number</label>
                    <input type="text" id="number" class="form-control" ngModel name="number" required>
                </div>
                <div class="form-group">
                    <label for="created-date">Created Date</label>
                    <input type="date" id="created-date" class="form-control" ngModel name="createdDate" required>
                </div>
                <div class="form-group">
                    <label for="decision-action">Decision Action</label>
                    <input type="text" id="decision-action" class="form-control" ngModel name="decisionAction" required>
                </div>
                <div class="form-group">
                    <label for="upload-type">Upload Type</label>
                    <input type="text" id="upload-type" class="form-control" ngModel name="uploadType" required>
                </div>
                <div class="form-group">
                    <label for="uploaded-by">Uploaded By</label>
                    <input type="text" id="uploaded-by" class="form-control" ngModel name="uploadedBy" required>
                </div>
                <div class="form-group">
                    <label for="case-number">Case Number</label>
                    <input type="text" id="case-number" class="form-control" ngModel name="caseNumber" required>
                </div>
                <div class="form-group">
                    <label for="contract-number">Contract Number</label>
                    <input type="number" id="contract-number" class="form-control" ngModel name="contractNumber" required>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" ngModel name="name" required>
                </div>
                <div class="form-group">
                    <label for="debt-amount">Debt Amount</label>
                    <input type="number" id="debt-amount" class="form-control" ngModel name="debtAmount" required>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <input type="text" id="status" class="form-control" ngModel name="status" required>
                </div>
                <div class="form-group">
                    <label for="status">Personal Code</label>
                    <input type="text" id="status" class="form-control" ngModel name="personalCode" required>
                </div>
                <div class="form-group">
                    <label for="status">Location</label>
                    <input type="text" id="status" class="form-control" ngModel name="location" required>
                </div>
                <div class="form-group">
                    <label for="status">Date</label>
                    <input type="date" id="status" class="form-control" ngModel name="date" required>
                </div>
                <div class="form-group">
                    <label for="status">Contract Date</label>
                    <input type="date" id="status" class="form-control" ngModel name="contractDate" required>
                </div>
                <div class="form-group">
                    <label for="status">Debt Currency</label>
                    <input type="text" id="status" class="form-control" ngModel name="debtCurrency" required>
                </div>
                <div class="form-group">
                    <label for="status">Court</label>
                    <input type="text" id="status" class="form-control" ngModel name="court" required>
                </div>
                <div class="form-group">
                    <label for="status">Decision</label>
                    <input type="text" id="status" class="form-control" ngModel name="decision" required>
                </div>
                <button class="btn btn-success" type="submit">Add Document</button>
            </form>
        </div>
    </div>
</div>